<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>

    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('user/css/bootstrap.min.css') }}">

    {# FONT AWESOME #}
    <link rel="stylesheet" href="{{ asset('user/css/font-awesome.min.css') }}">

    {# MODERN DESIGN SYSTEM #}
    <link rel="stylesheet" href="{{ asset('user/css/modern-design.css') }}">

    {# MAIN STYLE #}
    <link rel="stylesheet" href="{{ asset('user/css/style.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% block body %}{% endblock %}

    {# JS FILES #}
    <script src="{{ asset('user/js/jquery.min.js') }}"></script>
    <script src="{{ asset('user/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('user/js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
