
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>MindForge</title>
		<link rel="icon" type="image/png" href="{{ asset('user/img/logo.png') }}">

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ asset('user/css/bootstrap.min.css') }}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{{ asset('user/css/font-awesome.min.css') }}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{{ asset('user/css/style.css') }}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<style>
        /* Dropdown menu styling */
        .dropdown-menu {
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .dropdown-menu > li > a {
            color: #333 !important;
            padding: 10px 20px;
        }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: #000 !important;
            background-color: #f5f5f5;
        }

        .dropdown-menu > .dropdown-header {
            color: #333 !important;
            font-weight: bold;
            padding: 10px 20px;
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 9px 0;
            background-color: #e5e5e5;
        }

        .dropdown-menu > li > a i {
            color: #333;
            margin-right: 8px;
        }
    </style>
	<body>

		<!-- Header -->
		<header id="header" class="transparent-nav">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
    <a class="logo" href="{{ path('app_home') }}">
        <img src="{{ asset('user/img/logo-alt.png') }}" alt="logo">
    </a>
</div>

					<!-- /Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle">
						<span></span>
					</button>
					<!-- /Mobile toggle -->
				</div>

				<!-- Navigation -->
<nav id="nav">
    <ul class="main-menu nav navbar-nav navbar-right">
        <li><a href="{{ path('app_home') }}">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="{{ path('guardian_library') }}">Library</a></li>
		<li><a href="{{ path('guardian_rooms') }}">Virtual Rooms</a></li>

		{# Careers Center Dropdown #}
		{% if app.user %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-briefcase"></i> Careers Center <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{# Common options for all users #}
					<li><a href="{{ path('app_carriere_opportunity_index') }}">
						<i class="fa fa-search"></i> Browse Opportunities
					</a></li>
					<li><a href="{{ path('app_carriere_company_index') }}">
						<i class="fa fa-building"></i> Companies
					</a></li>
					<li role="separator" class="divider"></li>

					{# User/Student specific options #}
					{% if 'ROLE_COMPANY' not in app.user.roles %}
						<li><a href="{{ path('app_carriere_application_my_applications') }}">
							<i class="fa fa-file-text"></i> My Applications
						</a></li>
						<li><a href="{{ path('app_carriere_mentorship_index') }}">
							<i class="fa fa-graduation-cap"></i> My Mentorships
						</a></li>
					{% endif %}

					{# Company specific options #}
					{% if 'ROLE_COMPANY' in app.user.roles %}
						<li><a href="{{ path('app_carriere_opportunity_new') }}">
							<i class="fa fa-plus-circle"></i> Post New Opportunity
						</a></li>
						<li><a href="{{ path('app_carriere_opportunity_my_opportunities') }}">
							<i class="fa fa-list"></i> My Job Postings
						</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{ path('app_carriere_application_my_company_applications') }}">
							<i class="fa fa-inbox"></i> Applications Received
						</a></li>
						<li><a href="{{ path('app_carriere_mentorship_my_company_mentorships') }}">
							<i class="fa fa-handshake-o"></i> Company Mentorships
						</a></li>
					{% endif %}
				</ul>
			</li>
		{% else %}
			<li><a href="{{ path('app_carriere_opportunity_index') }}">Careers Center</a></li>
		{% endif %}
        <li><a href="#">Leader Board</a></li>
        <li><a href="{{ path('app_blog') }}">Blog</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        <li>
    <a href="{{ path('app_quotes') }}">
        <i class="fa fa-quote-left"></i> Quotes
    </a>

</li>

        {% if app.user %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle"></i> Profile <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">
                        <i class="fa fa-user"></i> {{ app.user.email }}
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('app_profile_view') }}">
                        <i class="fa fa-id-card"></i> View Profile
                    </a></li>
                    <li><a href="{{ path('app_profile_edit') }}">
                        <i class="fa fa-edit"></i> Edit Profile
                    </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('app_request_status') }}">
                        <i class="fa fa-list-alt"></i> My Requests
                    </a></li>
                    <li><a href="{{ path('app_request_student_plus') }}">
                        <i class="fa fa-star"></i> Request Student+
                    </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('app_logout') }}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path('app_login') }}">
                <i class="fa fa-sign-in"></i> Login
            </a></li>

        {% endif %}
    </ul>
</nav>

				<!-- /Navigation -->

			</div>
		</header>
		<!-- /Header -->

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({{ asset('user/img/home-background.jpg') }})"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">MindForge</h1>
							<p class="lead white-text">From chaos to focus.</p>
							<a class="main-button icon-button" href="#">Get Started</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Welcome to MindForge</h2>
							<p class="lead">Turn focus into progress with guided learning spaces.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses </h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Community</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="{{ asset('user/img/about.png') }}" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Explore Courses</h2>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
					</div>
				</div>
				<!-- /row -->

				<!-- courses -->
				<div id="courses-wrapper">

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course01.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Beginner to Pro in Excel: Financial Modeling and Valuation</a>
								<div class="course-details">
									<span class="course-category">Business</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course02.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Introduction to CSS </a>
								<div class="course-details">
									<span class="course-category">Web Design</span>
									<span class="course-price course-premium">Premium</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course03.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">The Ultimate Drawing Course | From Beginner To Advanced</a>
								<div class="course-details">
									<span class="course-category">Drawing</span>
									<span class="course-price course-premium">Premium</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course04.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">The Complete Web Development Course</a>
								<div class="course-details">
									<span class="course-category">Web Development</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course05.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">PHP Tips, Tricks, and Techniques</a>
								<div class="course-details">
									<span class="course-category">Web Development</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course06.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">All You Need To Know About Web Design</a>
								<div class="course-details">
									<span class="course-category">Web Design</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course07.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">How to Get Started in Photography</a>
								<div class="course-details">
									<span class="course-category">Photography</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->


						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{{ asset('user/img/course08.jpg') }}" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Typography From A to Z</a>
								<div class="course-details">
									<span class="course-category">Typography</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

				</div>
				<!-- /courses -->

				<div class="row">
					<div class="center-btn">
						<a class="main-button icon-button" href="#">More Courses</a>
					</div>
				</div>

			</div>
			<!-- container -->

		</div>
		<!-- /Courses -->

		<!-- Call To Action -->
		<div id="cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({{ asset('user/img/cta1-background.jpg') }})"></div>
			<!-- /Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h2 class="white-text">Build momentum with MindForge.</h2>
						<p class="lead white-text">Join focused rooms, share resources, and grow with your community.</p>
						<a class="main-button icon-button" href="#">Get Started</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Call To Action -->

		<!-- Why us -->
		<div id="why-us" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Why MindForge</h2>
						<p class="lead">A calmer space to learn, collaborate, and stay on track.</p>
					</div>

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Community</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

				</div>
				<!-- /row -->

				<hr class="section-hr">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h3>Persius imperdiet incorrupte et qui, munere nusquam et nec.</h3>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
						<p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis hendrerit, elitr deseruisse in sit, sit ei facilisi mediocrem.</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<a class="about-video" href="#">
							<img src="{{ asset('user/img/about-video.jpg') }}" alt="">
							<i class="play-icon fa fa-play"></i>
						</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Why us -->

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({{ asset('user/img/cta2-background.jpg') }})"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">Contact Us</h2>
						<p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
						<a class="main-button icon-button" href="#">Contact Us Now</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->

		<!-- Footer -->
		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" href="index.html">
								<img src="{{ asset('user/img/logo.png') }}" alt="logo">
							</a>
						</div>
					</div>
					<!-- footer logo -->

					<!-- footer nav -->
					<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="{{ path('app_home') }}">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="{{ path('guardian_library') }}">Library</a></li>
							<li><a href="{{ path('guardian_rooms') }}">Virtual Rooms</a></li>
							<li><a href="#">careers center</a></li>
							<li><a href="#">leader board</a></li>
							<li><a href="{{ path('app_blog') }}">Blog</a></li>
							<li><a href="{{ path('app_contact') }}">Contact</a></li>
						</ul>
					</div>
					<!-- /footer nav -->

				</div>
				<!-- /row -->

				<!-- row -->
				<div id="bottom-footer" class="row">

					<!-- social -->
					<div class="col-md-4 col-md-push-8">
						<ul class="footer-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!-- /social -->

					<!-- copyright -->
					<div class="col-md-8 col-md-pull-4">
						<div class="footer-copyright">
							<span>&copy; Copyright 2018. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
						</div>
					</div>
					<!-- /copyright -->

				</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="{{ asset('user/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('user/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('user/js/main.js') }}"></script>

	</body>
</html>
