{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
<!-- Header -->
<header id="header">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="logo" href="{{ path('app_home') }}">
                    <img src="{{ asset('user/img/logo-alt.png') }}" alt="logo">
                </a>
            </div>
        </div>
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li class="active"><a href="{{ path('app_profile_view') }}">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {# Flash Messages #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-check-circle"></i> {{ message }}
                </div>
            {% endfor %}
            
            {% for message in app.flashes('info') %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-info-circle"></i> {{ message }}
                </div>
            {% endfor %}
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">
                        <i class="fa fa-user"></i> My Profile
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="text-center" style="margin-bottom: 30px;">
                        {% if profile.avatar %}
                            <img src="{{ asset('uploads/avatars/' ~ profile.avatar) }}" 
                                 alt="Avatar" 
                                 class="img-circle" 
                                 style="width: 150px; height: 150px; object-fit: cover; border: 3px solid #ddd;">
                        {% else %}
                            <div class="img-circle" 
                                 style="width: 150px; height: 150px; background: #f0f0f0; display: inline-flex; align-items: center; justify-content: center; border: 3px solid #ddd;">
                                <i class="fa fa-user" style="font-size: 80px; color: #ccc;"></i>
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong><i class="fa fa-user"></i> First Name:</strong></label>
                                <p class="form-control-static">{{ profile.firstName ?? 'Not set' }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong><i class="fa fa-user"></i> Last Name:</strong></label>
                                <p class="form-control-static">{{ profile.lastName ?? 'Not set' }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label><strong><i class="fa fa-envelope"></i> Email:</strong></label>
                        <p class="form-control-static">{{ user.email }}</p>
                    </div>
                    
                    <div class="form-group">
                        <label><strong><i class="fa fa-phone"></i> Phone:</strong></label>
                        <p class="form-control-static">{{ profile.phone ?? 'Not set' }}</p>
                    </div>
                    
                    <div class="form-group">
                        <label><strong><i class="fa fa-map-marker"></i> Address:</strong></label>
                        <p class="form-control-static">{{ profile.address ?? 'Not set' }}</p>
                    </div>
                    
                    <div class="form-group">
                        <label><strong><i class="fa fa-info-circle"></i> Bio:</strong></label>
                        <p class="form-control-static">{{ profile.bio ?? 'Not set' }}</p>
                    </div>
                    
                    <hr>
                    
                    <div class="text-center">
                        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary btn-lg">
                            <i class="fa fa-edit"></i> Edit Profile
                        </a>
                        <a href="{{ path('app_home') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-arrow-left"></i> Back to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}